.i {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.i-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
}

.i-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5%;
}

.i-left-wrapper {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.i-intro {
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}

.i-name {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.i-title {
    height: 50px;
}

.i-title-bt {
    width: 40%;
    height: 40px;
    background: #1a61b8;
    color: #fff;
    border: #fff;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    padding: 0;
}

.i-title-bt:hover {
    background: linear-gradient(45deg, greenyellow, dodgerblue);
}

.i-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-desc {
    margin-top: 3%;
}
@media screen and (max-width: 960px){
    .i{
        flex-direction: column;
        align-items: center;
    } 
    .i-left-wrapper{
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }
    .i-title-bt{
        width: 200px;
    }
    .i-img{
       display: none;
    }
    .i-desc{
        margin-top: 2rem;
    }
    .i-name{
        margin: 0;
        font-size: 60px;
    }
}

@media screen and (max-width: 480px){
    .i{
        flex-direction: column;
        align-items: center;
        height: 100%;
    } 
    .i-left-wrapper{
        padding: 10px;
       
        /*align-items: center;*/
        /*justify-content: center;*/
        /*text-align: center;*/
    }
    .i-title-bt{
        width: 200px;
    }
    .i-img{
        display: none;
    }
    .i-desc{
        margin-top: 2rem;
    }
    .i-name{
        margin: 0;
        font-size: 60px;
    }
}